<!DOCTYPE html>
<html>
<body>

<p style="text-align:center">Radiances as of {date}.</p>

<table style="text-align:center; width:100%">
    <thead>
        <tr><th style="width:33%">PLACE</th><th style="width:33%">NAME [0]</th><th style="width:33%">RADIANCE</th></tr>
    </thead>
    <tbody>
        {scores}
    </tbody>
</table>

<p>All other radiances are zero.</p>

<p>[0] {key}</p>

<p>[1] Since last official report.</p>

</body>
</html>
