Radiances as of {date}.

PLACE  NAME [0]  RADIANCE [1]
-----  --------  ------------
{scores}

All other radiances are zero. 

[0] {key}

[1] Current Radiance and estimated change since last report. Only
current radiance ratifies.

If you'd like to change your three letter name, please let the Herald 
know. 

Events Since Last Report
------------------------
{history}
