body {
    width: 100%;
    padding: 0;
    border: 0;
    font-family: Verdana, sans-serif;
    background-color: white;
    color: black;
}

.thesis {
    max-width:72ch;
    margin:auto;
}

.thesis pre {
    max-width: 72ch;
    margin:auto;
    margin-bottom:1ch;
}

.ttitle {
    color: darkblue;
    font-weight: bold;
}

table {
    margin: auto;
    border: 1px solid;
}

table tr {
    background-color: lightgrey;
    height: 3vh;
}

h1 {
    color: grey;
    text-align: center;
    margin: 0%;
    margin-bottom: 1em;
}

h2 {
    color: #E52B50;
    text-align: center;
}

h3 {
    color: #E52B50;
    text-align: center;
}

h4 {
    color: #E52B50;
    text-align: center;
}

p {
    margin: auto;
    max-width: 72ch;
    padding-bottom: 1ch;
}
