<!DOCTYPE html>
<html>
<body>

<p style="text-align:center">Scores (points) as of {date}.</p>

<table style="text-align:center; width:100%">
    <thead>
        <tr><th style="width:25%">PLACE</th><th style="width:25%">NAME [0]</th><th style="width:25%">SCORE</th><th style="width:25%">CHANGE [1]</th></tr>
    </thead>
    <tbody>
        {scores}
    </tbody>
</table>

<p>All other scores are zero.</p>

<p>[0] {key}</p>

<p>[1] Since last official report.</p>

</body>
</html>
